@{
    ViewBag.Title = "Index";
}

<br />
<iframe src="~/index.html" style="width:960px;height:360px;max-width:100%;overflow:hidden;border:none;padding:0;margin:0 auto;display:block;" marginheight="0" marginwidth="0"></iframe>
<br />
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Please login as Admin: <b>username:</b> moondin@megahits.com & <b>password:</b> mrbean
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">About Url Buddy</h3>
        </div>
        <div class="panel-body">
            This is a where you can link a url with the community which benefits both the link owner and community.
            <br/><br/>You can also share some commercial links that you want. Like offers, discounts, etc.,
            <br />

            <br />Do you have a link to share? Then @Html.ActionLink("Register Here", "Index", new { Controller = "Register", Area = "Security" }) and share it.<br />
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Technologies Used</h3>
        </div>
        <div class="panel-body">
            This site is purely developed on 3-layered architecture in VS2013 using the following technologies
            Asp.Net MVC, jQuery, BootStrap, C#.Net, Entity Framework, JavaScript and Ms Sql Server.<br /><br />

            Futhermore: the site authenticates using membership provider, wooSlider, facebook OAuth and uses client side scripting to handle paging & sorting
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">About Nathan Nav Moondi</h3>
        </div>
        <div class="panel-body">
            This site was developed by <a href="http://www.google.com" target="_blank"> Nathan Nav Moondi</a>. I have over 20+ years Of development experience involving Pascal, C, C++, Visual Basic, Assembly Language, MFC, WinForms, .NET, ASP, Javascript, Angular, Entity Framework and with all the latest technologies coming out.
            <a href="http://github.com/NathanNavMoondi" target="_blank"> My Github</a><br />
            <br /> If you wish to contact me, please email me at nmoondi11 AT gmail.com.  Thanks!
        </div>
    </div>
</div>

<br />
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- LearnInSeconds3 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-0996909446231689"
     data-ad-slot="4931902345"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>


